<div class="container">
    <organisms-lateral-menu 
    [boards]="boards" 
    (clickOptionChange)="clickOption($event)" 
    (clickAddBoard)="createBoard()"
    (clickSwicth)="switchDarkMode($event)"
    [switchDarkStatus]="menuInfo.switchDarkMode"
    [dark]="menuInfo.switchDarkMode"
    class="menu-lateral"></organisms-lateral-menu>
    <div class="board">
        <molecules-top-menu 
        [title]="selectedOption?.name"
        (clickButtonEmit)="createTask()"
        class="top-menu"></molecules-top-menu>
        <organisms-board class="organisms-board" 
        [listColumns]="selectedOption?.columns" 
        (changeStatusTask)="changeStatusTask($event)"
        (clickCardEvent)="clickOneCard($event)"
        [dark]="menuInfo.switchDarkMode"
        ></organisms-board>
    </div>
</div>
@if(menuInfo.swithShowModal.show) {
    <organisms-modal 
    [menuOptions]="menuInfo.statusOptions" 
    [type]="menuInfo.swithShowModal.type" 
    [detail]="task" 
    (formResultValue)="closeModal($event)"
    (formResultBoardValue)="closeModalBoard($event)"></organisms-modal>
}