.container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.menu-lateral {
    height: 100vh;
}

.board {
    width: 100%;
}

.top-menu {
    height:7%;
}

.organisms-board {
    height: 93%;
    overflow-x: scroll;
}

.organisms-board::-webkit-scrollbar {
    width: 10px;
}
